.interviewItem {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.profilePicture {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 35%;
  background-color: #ecf0ff;
  color: #5452fb;
  user-select: none;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.role {
  align-self: flex-start;
  padding: 4px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  user-select: none;
  cursor: pointer;
}

.content {
  font-size: 16px;
}
